* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(
        180deg,
        rgba(107,46,228,1) 0%
        rgba(73,30,223,1) 100%

    );
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

form {
    background-image: url(imagenes/pagina\ crm.jpg) ;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    width: 420px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);

}

form img {
    width: 70px;
    margin-bottom: 25px;   
}

.input-container{
   position: relative;  
}

.input-container > i {
      padding: 14px;
      border-radius: 50%;
      background-color: #6d2fe3;
      color: #fcfef7;
      position: absolute;
      font-size: 20px;
      top: 7px;
      right: 8px;
          
}

.input-container > input {
    padding: 20px 50px 20px 15px;   
    width: 100%;
    margin-bottom: 25px;
    border-radius: 35px;
    background-color: transparent;
    border: 2px solid #c48afb ;
    font-size: 16px;
}